<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URLSHORT</title>
    <!-- bootstarp designs -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- my designs -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <br><br><br><br><br>
    <div class="container">
        <div class="justify-content-center align-items-center row">
            <div class="col-sm-6">
                <h1 class="text-center text">URL Shortner</h1>
                <p class="border"></p>
                <div class="form-group">
                    <form action="" method="post">
                        {% csrf_token %}
                        {% for fm in form %}
                         <br><br>
                          {{fm}}
                        {% endfor %}
                        <input type="submit" value="ShortUrl" class="form-control btn btn-info my-5">
                    </form>
                    <div class="container mt-4 text-center text-white">
                        {% if shorten %}
                           <div class="text-center"><h3>Your Shorten URL : </h3>{{ shorten }}</div>
                        {%endif%}
                    </div>
                    
                </div>   
            </div>
        </div>
    </div>
    <footer id="footer">
        <h5>&copy Created by Saumya Shikha</h5>
    </footer>
    
    <!-- bootstarp js -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- Jquery designs-->
    <script src="{% static 'js/Jquery.js' %}"></script>
</body>
</html>